main, aside {
    padding: 1%;
}

main {
    display: block;
    width: 64.166%;
    background-color: #DDDDDD;
    float: left;
    margin: 2.5%;
}

h1, h2 {
    color: #BF3030;
}

.article-card {
    display: block;
    width: 94%;
    margin: 3em 3%;
    background-color: white;
    overflow: auto;
}

.article-card img {
    width: 33.3%;
    float: left;
}

.article-card-text {
    width: 66.6%;
    padding: 2em;
    float: left;
    color: black;
}

.article-card h3 {
    color: #862222;
    font-size: 3em;
    font-weight: bold;
}

aside {
    width: 28.283%;
    background-color: #888888;
    float: left;
    margin: 2.5% 0;
}

aside h2 {
    color: #721D1D;
    font-size: 2em;
}

aside img{
    width: 80%;
    margin: 0 10%;
}