main {
    display: block;
    width: 90%;
    padding: 2em;
    margin: 3em 5%;
    background-color: #888888;
}

h1 {
    color: #BF3030;
}

main p {
    color: #DDDDDD;
    font-size: 1.5em;
    text-align: center;
}

main form {
    width: 90%;
    height: auto;
    margin: 0 5%;
    font-size: 1.5em;
}

input {
    font-size: 1em;
    width: 100%;
}

label {
    font-weight: bold;
    color: white;
}

.red {
    color: lightcoral;
}

#top-row div {
    width: 30%;
    float: left;
    margin-right: 5%;
}

#top-row div:last-child {
    margin-right: 0;
}